
	<div class="row container">
		<div class="card">
			<div class="container-fliud">
				<div class="wrapper row">
					<div class="preview col-md-6">
						<div class="preview-pic tab-content">
						  <div class="tab-pane active" id="pic-1">
                <% if @product.image.present? %>
                  <%= image_tag(@product.image.medium.url, class: "thumbnail") %>
                <% else %>
                  <%= image_tag("http://placehold.it/400x400&text=No Pic") %>
                <% end %>
              </div>
						  <div class="tab-pane" id="pic-2">
                <% if @product.image.present? %>
                  <%= image_tag(@product.image.medium.url, class: "thumbnail") %>
                <% else %>
                  <%= image_tag("http://placehold.it/400x400&text=No Pic") %>
                <% end %>
              </div>
						  <div class="tab-pane" id="pic-3">
                <% if @product.image.present? %>
                  <%= image_tag(@product.image.medium.url, class: "thumbnail") %>
                <% else %>
                  <%= image_tag("http://placehold.it/400x400&text=No Pic", class: "thumbnail") %>
                <% end %>
              </div>
						  <!-- <div class="tab-pane" id="pic-4"><img src="http://placekitten.com/400/252" /></div>
						  <div class="tab-pane" id="pic-5"><img src="http://placekitten.com/400/252" /></div> -->
						</div>
						<ul class="preview-thumbnail nav nav-tabs">
						  <li class="active"><a data-target="#pic-1" data-toggle="tab">
                <% if @product.image.present? %>
                  <%= image_tag(@product.image.medium.url) %>
                <% else %>
                  <%= image_tag("http://placehold.it/400x400&text=No Pic") %>
                <% end %>
              </a></li>
						  <li><a data-target="#pic-2" data-toggle="tab">
                <% if @product.image.present? %>
                  <%= image_tag(@product.image.medium.url) %>
                <% else %>
                  <%= image_tag("http://placehold.it/400x400&text=No Pic") %>
                <% end %>
              </a></li>
						  <li><a data-target="#pic-3" data-toggle="tab">
                <% if @product.image.present? %>
                  <%= image_tag(@product.image.medium.url) %>
                <% else %>
                  <%= image_tag("http://placehold.it/400x400&text=No Pic") %>
                <% end %>
              </a></li>
						  <!-- <li><a data-target="#pic-4" data-toggle="tab"><img src="http://placekitten.com/200/126" /></a></li>
						  <li><a data-target="#pic-5" data-toggle="tab"><img src="http://placekitten.com/200/126" /></a></li> -->
						</ul>

					</div>
					<div class="details col-md-6">

						<h3 class="product-title"><%= @product.title %> </h3>
            <br>
						<div class="rating">
							<div class="stars">
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star"></span>
								<span class="fa fa-star"></span>
							</div>
							<span class="review-no">41 reviews</span>
						</div>
            <br>
						<p class="product-description"><%= @product.description %></p>
            <br>
            <div> Quantity: <%= @product.quantity %> </div>
						<h4 class="price">Current price: <span> $ <%= @product.price %> </span></h4>
						<!-- <p class="vote"><strong>91%</strong> of buyers enjoyed this product! <strong>(87 votes)</strong></p> -->
            <!-- <div class="section" style="padding-bottom:20px;">
              <div>
                <div class="btn-minus">
                  <span class="glyphicon glyphicon-minus"></span>
                </div>
                <input value="1"/>
                <div class="btn-plus">
                  <span class="glyphicon glyphicon-plus"></span>
                </div>
              </div>
            </div> -->
						<div class="action">
              <% if @product.quantity.present? && @product.quantity > 0 %>
              <%= link_to("add to cart", add_to_cart_product_path(@product), :method => :post, :class => "add-to-cart btn btn-default") %>
              <!-- <div class="product-item">
                  <div>
                    <%#= link_to("add to cart", add_to_cart_product_path(@product), :method => :post, :class => "add-to-cart btn btn-default") %>
                    <%#= link_to("add to cart", add_to_cart_product_path(@product), :method => :post, :class => "btn add2cart ") %>
                  </div>
              </div> -->
              <% else %>
                Sold out, you cannot purchase
              <% end %>
              <!-- <div class="round-submit-1">
                  <div>
    							<button class="like btn btn-default" type="button"><span class="fa fa-heart"></span></button>
                  <button class="round-submit-button" type="button"><span class="fa fa-heart"></span></button>
                </div>
              </div> -->
						</div>

					</div>
				</div>
			</div>
		</div>



	</div>




  <div class="container" id="container">
    <!-- <ul class="nav nav-tabs">
      <li class="active">
        <a href="#fitbit-feature">Features</a>
      </li>
      <li>
        <a href="#">Mobile App</a>
      </li>
    </ul> -->
    <!-- <section class="feature-banner number-one-seller-banner ">
	     <h3>Our #1 selling tracker now has more to love.</h3>
    </section> -->
    <div class="details-content-title">
      Product Features

    </div>
    <hr>

        <section id="#fitbit-feature">
          <div class="row">
            <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7">
              <img src="/images/fitbitfeatures.png">
            </div>
            <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
            <!-- <h3 class="feature-title">Product Features</h3>
            <hr> -->
            <br>
            <br>

            <table border=0 class="rounded-list">
                <tr>
                    <td>
                    <ol>
                    <li><p>PurePulse® Heart Rate</p></li>
                    <li><p>Multi-Sport Tracking & Connected GPS</p></li>
                    <li><p>Call, Text & Calendar Alerts</p></li>
                    <li><p>Cardio Fitness Level</p></li>
                    <li><p>Guided Breathing Sessions</p></li>
                    <li><p>All-Day Activity, Auto Sleep Tracking</p></li>
                    <li><p>Reminders to Move, Long Battery Life</p></li>
                    </ol>
                    </td>
                </tr>
            </table>
            </div>
            </div>
        </section>
        <br>
        <br>
        <div class="details-content-title">
          Mobile Application

        </div>
        <hr>

        <section class="feature-banner fitbitapp-banner" id="#mobileapp">
    	     <!-- <h3>See the whole picture with the Fitbit app.</h3> -->
        </section>

  </div>
 <br>
 <br>
