
<!DOCTYPE html>
<html>
  <head>
    <title>iKnew - For your health and more active life </title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="container-fluid">
      <div class="row">
        <%= render "common/navbar" %>
          <p class="text-center">
            <!-- <li> <%#= link_to("Products", admin_products_path) %> </li> -->
          </p>
      </div>
          <%= yield %>
      </div>
    </div>
    <div class="row">
      <%= render "common/footer" %>
    </div>
  </body>
</html>
